[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
django = "*"
rapidfuzz = "*"
stopwords = "*"
pillow = "*"
pickle5 = "*"
whoosh = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"
boto3 = "*"
django-storages = "*"
psycopg2 = "*"
whitenoise = "*"
python-dotenv = "*"
django-ckeditor = "*"
django-filter = "*"
djangorestframework = "*"
requests = "*"
beautifulsoup4 = "*"
ao3-api = "*"

[dev-packages]

[requires]
python_version = "3.9"
