ao3-api==2.1.2
appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
beautifulsoup4==4.9.3
black==21.6b0
boto3==1.17.108
botocore==1.20.108
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
Django==3.2.5
django-ckeditor==6.1.0
django-crispy-forms==1.12.0
django-filter==2.4.0
django-js-asset==1.2.2
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
factory-boy==3.2.0
Faker==8.10.0
google-api-core==1.30.0
google-auth==1.30.2
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
isort==5.9.2
jmespath==0.10.0
lxml==4.6.3
mypy-extensions==0.4.3
numpy==1.21.0
packaging==21.0
pandas==1.3.0
pathspec==0.8.1
pickle5==0.0.11
Pillow==8.3.1
pluggy==0.13.1
protobuf==3.17.3
psycopg2==2.9.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
pytest-django==4.4.0
pytest-factoryboy==2.1.0
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
rapidfuzz==1.4.1
regex==2021.7.6
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
stopwords==1.0.0
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.6
whitenoise==5.2.0
Whoosh==2.7.4
