{% extends 'sections/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-6 ml-4 mr-4 mb-6">
    <section class="section is-medium">
        <h1 class="title">Works</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
    </section>
    <section class="section is-medium">
        <h1 class="title">Reviews</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
    </section>
    <section class="section is-medium">
        <h1 class="title">Drafts</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
    </section>


</div>
{% endblock content %}

