<div class="column is-3 mt-3">
    <div class="card card-link">
        <div class="card-content" id="singe-work-card">
            <div class="content" id="text">
                <a href="#" class="is-size-4" id="text">{{work.title}}</a>
            </div>
            <div class="content is-size-6" id="text">
                {{work.chapters}} chapters
            </div>
            <div class="content is-size-6" id="text">
                {{work.words}} words
            </div>
        </div>
    </div>
</div>