{% extends "core/main.html" %}

{% load i18n %}
{% include 'accounts/form_style.html' %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<title>Logout</title>

<form class="container mt-6 ml-6" method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <h1 class="title">{% trans "Sign Out" %}</h1>
  <p class="subtitle mt-3">{% trans 'Are you sure you want to sign out?' %}</p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="button" id="log-in-btn" type="submit">{% trans 'Yes, sign me out.' %}</button>
</form>


{% endblock %}
