{% extends 'core/main.html' %}
{% load static %}
{% block content %}
{% include 'core/styles.html' %}

<title>Honeysuckle</title>

<div class="container ml-6 mr-4 mt-6 has-text-centered">
    <div class="title"><span id="honeysuckle-site-title">Honeysuckle</span> Fanfiction Bot</div>
    <div class="content is-size-5 mt-5">Honeysuckle can serve fic information from fanfiction.net and archiveofourown.org links in your discord server.</div>
    <div class="content is-size-5">
        <a href="#" class="button is-dark">Invite to your server</a>
    </div>

</div>
{% endblock %}