{% extends 'core/main.html' %}
{% load static %}
{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <figure class="image" id="has-image-centered"  >
                <img id="log-image"
                src="https://see.fontimg.com/api/renderfont4/ZVOMx/eyJyIjoiZnMiLCJoIjoyNjgsInciOjIwMDAsImZzIjoxMzQsImZnYyI6IiM4NDU4NTgiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/SGlzIEJyb3duIEV5ZWQgR2lybA/authorized-signature.png"
                {% comment %} src="{% static 'images/hbeg_logo.png' %}"> {% endcomment %}
            </figure>
            {% comment %} <p class="title" id="HeroProjectName">His Brown Eyed Girl</p> {% endcomment %}
            <form class="searchForm" method="POST">
                {% csrf_token %}
                <input class="input is-rounded is-medium m-6" 
                    type="text" 
                    id="searchBar"
                    name="query"
                    placeholder="Search...">
            </form>
        </div>
    </div>
    {% if results %}
        <section class="searchResultsSection m-6">
            {% for res in results %}
                {% include 'core/singlesearchres.html' %}
            {% endfor %}
        </section>
    {% endif %}
</section>

<style>
{% comment %} style for search bar {% endcomment %}
.input:focus, .input:hover{
    border-color:#2d2;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.05);
}
#has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
#log-image{
    width:47%; 
    display:inline;
}

</style>

{% comment %} scripts go here {% endcomment %}
<script>
    // to submit query on return/enter key press
    $('.input').keypress(function (e) {
        if (e.which == 13) {
            $('#search_id').submit();
            return false;    //<---- Add this line
        }
    });
</script>
  
{% endblock %}

