{% extends 'core/main.html' %}
{% load static %}
{% block content %}
{% include 'core/styles.html' %}

<title>{{page_title}}</title>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
        <div class="container has-text-centered">
            <div class="columns is-centered is-multiline">
                <div class="column is-12">
                    <figure class="image" id="has-image-centered"  >
                        <img id="log-image"
                        src="{% static 'images/hbeg_logo_big.png' %}"/>
                        {% comment %} src="{% static 'images/hbeg_logo.png' %}"> {% endcomment %}
                    </figure>
                </div>
                <div class="column is-12">
                    <form class="searchForm has-text-centered" method="get">
                        <input class="input is-rounded is-small form-control " 
                            type="text" 
                            id="searchBar"
                            name="query"
                            placeholder="Search..."
                            value="{{query}}">
                    </form>
                </div>
                {% if not request.user.is_authenticated %}
                    <div class="column is-12">
                        <a class="has-text-centered is-subtitle is-size-5" id="about-link-for-unauth-users"
                            href="{% url 'about' %}">
                            New here? Learn how to use HBEG.
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if results %}
        <section class="searchResultsSection my-6">
            {% for res in results %}
                {% include 'core/singlesearchres.html' %}
            {% endfor %}
        </section>
    {% endif %}
</section>

{% comment %} scripts go here {% endcomment %}
<script>
    // to submit query on return/enter key press
    $('.input').keypress(function (e) {
        if (e.which == 13) {
            $('#search_id').submit();
            return false;    //<---- Add this line
        }
    });
</script>
  
{% endblock %}

