<div class="card m-3">
    <div class="card-content">
        <div class="columns is-centered">
            <div class="column is-8">
                <p class="subtitle">{{res.title}}</p>
            </div>
            <div class="column is-2">
                <p class="subtitle">{{res.author_name}}</p>
            </div>
            <div class="column is-2">
                <p class="subtitle">Rated {{res.rating}}</p>
            </div>
        </div>
        <p class="is-size-6">
            {{res.summary}}
        </p>
        <p class="is-size-7">
            {{res.num_words}} words
        </p>
    </div>
</div>