{% load static %}
<div class="card search-singlecard-content">
  <header class="card-header ">
    <a 
        style= "
            background:#C35355;
            font-size: 1.35em;
        " 
        class="card-header-title has-text-weight-bold has-text-white"
        href="{% url 'story_detail' res.story_id %}">
        {{res.title}}   &nbsp;
        <i>by</i> &nbsp;
        {{res.author_name}}
    </a>
  </header>
  <div class="card-content" style="background:#fff;">
    <div style="background:transparent;" class="content" >
      {{res.summary}}
    </div>
    <div class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li>{{res.num_words}} words</li>&nbsp;
            <li>&nbsp; {{res.rated}} rated</li>&nbsp;
            <li>&nbsp;{{res.status}}</li>&nbsp;
            <li>&nbsp;{{res.num_chapters}} chapters</li>&nbsp;
            <li>&nbsp;{{res.characters}}</li>&nbsp;
            <li>&nbsp;{{res.genres}}</li>
        </ul>
    </div>
  </div>
  {% comment %} <footer class="card-footer">
    <a href="#" style="background:#C35355;" 
    class="card-footer-item  has-text-white has-text-weight-bold">Add to Reading List</a> 
  </footer> {% endcomment %}
</div>

<style>
@media screen and (min-width: 1200px) {
    .search-singlecard-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
@media screen and (max-width: 1199px) and (min-width: 601px){
    .search-singlecard-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
ul, .breadcrumb a{
    background:white;
    color:#527F67;
}
</style>