<style>
{% comment %} full search page styling--something akin to google.com page {% endcomment %}
.hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body, .hero.is-halfheight .hero-body{
    margin-top: 15vh;
    align-items:center;
    display:block;
}
{% comment %} search bar styling {% endcomment %}
@media screen and (min-width: 1200px) {
    .#searchBar{
        max-width: 80%;
        font-family: 'Antic Slab', serif;
    }
}
@media screen and (max-width: 1199px) and (min-width: 601px){
    #searchBar{
        max-width: 80%;
        font-family: 'Antic Slab', serif;
    }
}
@media screen and (max-width: 601px) {
    #searchBar{
        max-width: 100%;
        font-family: 'Antic Slab', serif;
    }
}
{% comment %} search result styling {% endcomment %}
{% comment %} the search result card {% endcomment %}
.search-singlecard-content{
        margin:0px;
}
{% comment %} the container with the results {% endcomment %}
.searchResultsSection{
    margin-left:0.35rem;
    margin-right:0.35rem;
}
{% comment %} the genres, characters display inside search result card {% endcomment %}
ul, .breadcrumb a{
    background:#ffffff;
    color:green;
}
{% comment %} fic title in card {% endcomment %}
#title-of-fic{
  background:#855858;
  font-size: 1.35em;
}
#by-fic-author-separator{
  color:#efece8;
}
{% comment %} style for search bar {% endcomment %}
html{
    background-color:#efece8;
}
.input:focus, .input:hover{
    border-color:#2d2;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.05);
}
{% comment %} logo image big styles {% endcomment %}
#has-image-centered {
  margin:auto;
}
@media screen and (min-width: 1200px) {
    #log-image{
        width:47%; 
        display:inline;
    }
}
@media screen and (max-width: 1199px) and (min-width: 601px){
    #log-image{
        width:67%; 
        display:inline;
    }
}
@media screen and (max-width: 601px) {
    #log-image{
    width:83%; 
    display:inline;
    }
}
{% comment %} search result styles {% endcomment %}
#search-res-card{
    border-radius:10rem;
}
.card-header-title{
    border-radius: 7px 7px 0px 0px;
}
{% comment %} about link for first time users {% endcomment %}
#about-link-for-unauth-users{
    color:green;
}
#about-link-for-unauth-users:hover{
    color:#855858;
}
{% comment %} All About Page Styles {% endcomment %}
#about-site-title{
    color:#855858;
}
#about-feature-list{
    background-color:#efece8;
    color:#6a676f;
}
#about-discord-server-link{
    color:green;
}
#about-discord-server-link:hover{
    color:#855858;
}

</style>