<style>
@media screen and (min-width: 1200px) {
    .search-singlecard-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
@media screen and (max-width: 1199px) and (min-width: 601px){
    .search-singlecard-content{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
ul, .breadcrumb a{
    background:#ffffff;
    color:green;
}
{% comment %} fic title in card {% endcomment %}
#title-of-fic{
  background:#855858;
  font-size: 1.35em;
}
#by-fic-author-separator{
  color:#efece8;
}

{% comment %} style for search bar {% endcomment %}
html{
    background-color:#efece8;
}
.input:focus, .input:hover{
    border-color:#2d2;
    box-shadow: 0 0 0 .125em rgba(50,115,220,.05);
}
#has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
#log-image{
    width:47%; 
    display:inline;
}

#search-res-card{
    border-radius:10rem;
}
.card-header-title{
    border-radius: 7px 7px 0px 0px;
}
</style>