{% extends 'sections/main.html' %}
{% include 'sections/styles.html' %}

{% block content %}
<div class="container mt-6 ml-6 mr-3" id="mainview-container">
    <div class="content is-size-2 has-text-centered">
        The dedicated HHr space on the Internet.<br>Coming soon...
    </div>

    <div class="content is-size-5 mt-6 has-text-centered">
        To be a part of the production and recommend/contribute features to this space, join our Harmony community: <br><br>
            <a href="https://discord.gg/Rw23m8J" class="button is-dark" target="_blank">Join the discord</a>
    </div>

</div>

{% endblock  %}