{% extends 'sections/main.html' %}
{% load static %}
{% block content %}
{% include 'harmony/styles.html' %}

<div class="container mt-1 mb-6 ml-6 mr-6" id="mainview-container">
    <div class="content is-size-1 is-bold has-text-centered mb-0">
        <figure class="image is-48x48" id="has-image-centered">
            <img src="{% static 'images/harmony_logo.png' %}" id="hhr-logo-image">
       </figure>
        Harmony <br>
        <a href="https://discord.gg/Rw23m8J" class="button is-inverted" id="discord-link-btn" target="_blank">Join us</a>
    </div>
    <div class="columns is-multiline ">
        <div class="column is-11-mobile is-7-desktop is-7-tablet mt-2 mb-5 has-text-centered">
            <a href="#" class="button is-dark">Fics</a>
            <a href="#" class="button is-dark">Authors</a>
            <a href="#" class="button is-dark">Prompts</a>
            <a href="#" class="button is-dark">Drabbles</a>
            <a href="#" class="button is-dark">Tags</a>
            <div class="container is-size-4 mt-5">
                Fabulous fic feed 
            </div>
            <div class="container mt-5">
                {% for work in works  %}
                    {% include 'harmony/single_feed_work.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="column mt-2 mb-5 has-text-centered">
            <div class="content is-size-4">Story of the Day</div>
            {% include 'harmony/story_of_the_day.html' %}
        </div>
    </div>
</div>

{% endblock  %}
