{% extends 'sections/main.html' %}
{% load static %}
{% block content %}
{% include 'harmony/styles.html' %}

<div class="container mt-1 mb-6 ml-6 mr-6" id="mainview-container">
    {% comment %} the parent tile of left side {% endcomment %}
    <div class="tile is-ancestor mt-6 mb-6">
        <div class="tile is-vertical is-9">
            <div class="tile">
                <div class="tile is-parent is-vertical is-4">
                    <article class="tile is-child notification is-dark" id="title-tile">
                    {% comment %} the title of the site {% endcomment %}
                    <div class="is-size-2 has-text-centered" id="tile-title-text">Holly and Vinewood</div>
                    </article>
                    <article class="tile is-child notification is-dark">
                    {% comment %} Exclusive H&V fics reading {% endcomment %}
                    <a href="#" class="content is-size-3" id="tile-title-text-link">Read</a>
                    <div class="content is-size-5" id="tile-title-text">
                        Exclusive fics published on Holly and Vinewood
                    </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-dark">
                        {% comment %} Author invites {% endcomment %}
                        <a href="#" class="content is-size-3" id="tile-title-text-link">Inviting Authors!</a>
                        <div class="content is-size-5" id="tile-title-text">
                            <br> Are you an author? <br><br>
                            Now, sign up to publish your Harmony fics directly on <span id="tile-title-text-span">Holly and Vinewood</span>!  <br><br>
                            You have the option of posting them exclusively here, or repost them from an another site. <br><br>
                            <a href="#" class="content is-size-5" id="tile-title-text-link">Learn more.</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    {% comment %} All canon/fic lists {% endcomment %}
                    <p class="content is-size-3" id="tile-title-text">Lists</p>
                    <div class="content is-size-5" id="tile-title-text">
                        <a href="{% url 'harmony_moments' %}" class="button is-dark is-size-5 m-1">Moments</a>
                        <a href="{% url 'harmony_fics_options' %}" class="button is-dark is-size-5 m-1">All Fics</a>
                        <a href="{% url 'harmony_authors' %}" class="button is-dark is-size-5 m-1">All Authors</a>
                        <div class="button is-dark is-size-5 m-1">Drabbles</div>
                        <div class="button is-dark is-size-5 m-1">Prompts</div>
                        <div class="button is-dark is-size-5 m-1">Tropes</div>
                        <div class="button is-dark is-size-5 m-1">Blacklist</div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-dark">
                {% comment %} All ext. links {% endcomment %}
                <div class="content is-size-3" id="tile-title-text">
                    Links
                </div>
                <div class="content is-size-6" id="tile-title-text">
                        <a href="https://discord.gg/Rw23m8J" target="_blank" class="is-size-6 m-1" id="tile-title-text-link">The Harmony Discord</a>
                        
                </div>
            </article>
            <article class="tile is-child notification is-dark">
                {% comment %} F3, of course. {% endcomment %}
                <a href="{% url 'harmony_f_three' %}" class="content is-size-3" id="tile-title-text-link">Fabulous Fic Feed</a>
                <div class="content is-size-5 mt-3" id="tile-title-text">
                    Recently published or updated stories from elsewhere on the internet 
                </div>
                <div class="is-size-6 mt-0" id="tile-title-text">(updated every 12 hours)</div>
            </article>
        </div>
    </div>
</div>

{% endblock  %}
