<article class="message">
  <div class="message-header" style="margin-bottom:1 rem; line-height:1.0 rem;">
    <p  id="single-work-title">{{work.title}}</p>
    <a href="#" id="single-work-add-link">Add</a>
  </div>
  <div class="message-body has-text-left" id="single-work-body">
    <u><strong>Author</strong></u>: {{work.authors}} <br>
    <strong>Summary:</strong>{{work.summary}} <br>
    <strong>Words: </strong> {{work.words}} <br>
    <strong>Chapters:</strong> {{work.nchapters}} <br>
    <strong>Rating:</strong> {{work.rating}} <br>
    <strong>Language:</strong> {{work.language}} <br>
    <strong>Characters:</strong> {{work.characters}} <br>
    <strong>Relationships:</strong> {{work.relationships}} <br>
    <strong>Tags:</strong>{{work.tags}} <br>
    {% if  work.complete %}
    <strong>Status:</strong> Complete
    {% else %}
    <strong>Status:</strong> In-Progress
    {% endif %} 
  </div>
</article>