<style>
{% comment %} page wide {% endcomment %}
*{
    {% comment %} background-color:#262626; {% endcomment %}
    color:#fff;
}
{% comment %} main view page {% endcomment %}
#mainview-container{
    color:#fff;
}
{% comment %} the logo at the top {% endcomment %}
#has-image-centered{
    margin:auto;
}
{% comment %} the discord link at the top {% endcomment %}
#discord-link-btn{
    background-color:transparent;
    border:none;
    color:white;
    text-decoration: underline;
}
.button.is-dark.is-hovered, .button.is-dark:hover{
    background-color:#D98270;
}
.button.is-dark{
    background-color:#9A5F6E;
}

{% comment %} single work layout{% endcomment %}
#single-work-title{
    background-color:transparent;
}
#single-work-body{
    color:#fff;
    border-width:0.5px;
}
#single-work-add-link{
    color: #EC9481;
    background-color:transparent;
    text-decoration:none;
}

{% comment %} moments page {% endcomment %}
#moments-container{
    color:#fff;
}
{% comment %} authors page {% endcomment %}
#single-author-title{
    background-color:transparent;
    text-decoration:none;
}
{% comment %} fics page {% endcomment %}
#single-fic-card{
    background-color:transparent;
}
{% comment %} mainview tiles {% endcomment %}
#title-tile{
    background-color:#D98270;
}
#tile-title-text{
    background-color:transparent;
}
#tile-title-text-link{
    background-color:transparent;
}
#tile-title-text-link:hover{
   color:#D98270;
}
#tile-title-text-span{
    color:#D98270;
    background-color:transparent;
}
{% comment %} author reg page {% endcomment %}
#author-reg-main-box{
    background:#363636;
    color:#fff;
    border-radius:13px;
}
.is-size-3, .is-size-2, .is-size-1, .is-size-4, .is-size-5, .is-size-6, .content, form{
    background:transparent;
}
#link-color{
    color:#D98270;
}
#request-sent-message{
    color:lightgreen;
}
</style>