<style>
{% comment %} page wide {% endcomment %}
*{
    background-color:#262626;
    color:#fff;
}
{% comment %} main view page {% endcomment %}
#mainview-container{
    color:#fff;
}
{% comment %} the logo at the top {% endcomment %}
#has-image-centered{
    margin:auto;
}
{% comment %} the discord link at the top {% endcomment %}
#discord-link-btn{
    background-color:transparent;
    border:none;
    color:white;
    text-decoration: underline;
}
.button.is-dark.is-hovered, .button.is-dark:hover{
    background-color:#D98270;
}

{% comment %} single work layout{% endcomment %}
#single-work-title{
    background-color:transparent;
}
#single-work-body{
    
    color:#fff;
}
</style>