{% extends 'core/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% comment %} the style for login/register forms {% endcomment %}
{% include 'accounts/form_style.html' %}

<form class="box" action="{% url 'login' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% comment %} show any erros if there {% endcomment %}
    <div class="title">Login</div>
    {% if form.errors %}
        <p class="help is-danger mt-1 mb-1 is-size-6">Nickname or Password is incorrect.</p>
    {% endif %}

    {% comment %} the login form {% endcomment %}
    <div class="field">
        <label class="label" for="{{form.nickname.id_for_label}}">Nickname</label>
        {% render_field form.username class="input is-primary" placeholder="my nickname..." %}
    </div>
    <div class="field">
        <label class="label" for="{{form.password.id_for_label}}">Password</label>
        {% render_field form.password class="input is-primary" placeholder="my password..." %}
    </div>
    <div class="field">
        <button class="button" id="log-in-btn">Log In</button>
    </div>
    <div class="field">
        Not registered yet? <a href="{% url 'register' %}" id="to-register-link">Register</a>.
    </div>
</form>

{% endblock %}
