{% extends 'core/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% comment %} the style for login/register forms {% endcomment %}
{% include 'accounts/form_style.html' %}

<form class="box" action="{% url 'login' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="title">Login</div>

    <div class="field">
        <label class="label" for="{{form.nickname.id_for_label}}">Nickname</label>
        {% render_field form.nickname class="input is-primary" placeholder="my nickname..." %}
    </div>
    <p class="help is-danger">{{ form.nickname.errors }}</p>
    <div class="field">
        <label class="label" for="{{form.password.id_for_label}}">Password</label>
        {% render_field form.password class="input is-primary" placeholder="my password..." %}
    </div>
    <p class="help is-danger">{{ form.password.errors }}</p>
    <div class="field">
        <button class="button is-primary">Log In</button>
    </div>
    <div class="field">
        Not registered yet? <a href="{% url 'register' %}">Register</a>.
    </div>
</form>

{% endblock %}
