{% extends 'core/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% comment %} the style for login/register forms {% endcomment %}
{% include 'accounts/form_style.html' %}

<form class="box" method="POST">{% csrf_token %}
    <div class="title">Login</div>

    <div class="field">
        <label class="label" for="username">Nickname</label>
        <input class="input is-primary" type="text" placeholder="my cool nickname...">
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input type="password" class="input is-primary" type="text" placeholder="my unique password...">
    </div>
    <div class="field">
        <button type="submit" class="button is-primary">Log In</button>
    </div>
    <div class="field">
        Not registered yet? <a href="{% url 'register' %}">Register</a>.
    </div>
</form>

{% endblock %}
