{% extends 'core/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
{% comment %} the style for login/register forms {% endcomment %}
{% include 'accounts/form_style.html' %}

<form class="box" action="{% url 'register' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="title">Register</div>
    {% comment %} display form error messages {% endcomment %}
    {% for message in messages %}
        <p class="help is-danger m-1 is-size-6">{{message}}</p>
    {% endfor %}

    {% comment %} Registration form {% endcomment %}
    <div class="field">
        <label class="label" for="{{form.nickname.id_for_label}}">Choose your Nickname</label>
        {% render_field form.nickname class="input is-primary" placeholder="my cool nickname..." %}
    </div>
    <p class="help is-danger">{{ form.nickname.errors }}</p>
    <div class="field">
        <label class="label" for="{{form.password1.id_for_label}}">your Password</label>
        {% render_field form.password1 class="input is-primary" placeholder="my unique password..." %}
    </div>
    <p class="help is-danger">{{ form.password1.errors }}</p>
    <div class="field">
        <label class="label" for="{{form.password2.id_for_label}}">...and your Password again</label>
        {% render_field form.password2 class="input is-primary" placeholder="my unique password..." %}
    </div>
    <p class="help is-danger">{{ form.password2.errors }}</p>
    <div class="field">
        By registering, you agree to the <a href="#">privacy policy </a>of HBEG.
    </div>
    <div class="field">
        <button class="button is-primary">Register</button>
    </div>
    <div class="field">
        Have an account? <a href="{% url 'login' %}">Log In</a>.
    </div>
</form>
{% endblock %}
