{% extends 'core/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% comment %} the style for login/register forms {% endcomment %}
{% include 'accounts/form_style.html' %}

<form class="box" method="POST">{% csrf_token %}
    <div class="title">Register</div>

    <div class="field">
        <label class="label" for="username">Choose your Nickname</label>
        <input class="input is-primary" type="text" placeholder="my cool nickname...">
    </div>
    <div class="field">
        <label class="label" for="password">...and your Password</label>
        <input type="password" class="input is-primary" type="text" placeholder="my unique password...">
    </div>
    <div class="field">
        By registering, you agree to the <a href="#">privacy policy </a>of HBEG.
    </div>
    <button type="submit" class="button is-primary">Register</button>
    <div class="field">
        Have an account? <a href="{% url 'login' %}">Log In </a>.
    </div>
</form>
{% endblock %}
