{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}

<div class="container mt-6">
    <div class="section">
        <div class="title">{{profile.member.nickname}}</div>
        <div class="content is-size-5">
            {% if profile.bio %}
                {{profile.bio|safe}}
            {% endif %}
        </div>
    </div>
    <div class="section">
        <div class="content is-size-5">
            {% for badge in badges.badges.all %}
                <span class="tag is-medium m-1" style="background-color:{{badge.tag_color}};">{{badge.tag_name}}</span>
            {% endfor %}
        </div>
        <div class="content is-size-5">
            {% for folder in folders  %}
                {% include 'public/public_single_folder_layout.html' %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}