{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}


<div class="container mt-6" id="form-container">
    <div class="column is-12">
        <div class="title">Add To Folders</div>
    </div>
    <form action="." method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {% if not folders %}
            <div class="subtitle">You haven't made any folders yet.</div>
        {% else %}
            <div class="columns is-multiline m-3">
                {% for folder in folders %}
                    <div class="column is-3">
                        <label class="checkbox is-size-5">
                            <input type="checkbox" value="{{folder.id}}" name="folder_checkboxes">
                            {{folder.folder_name}}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="column is-12">
                <div class="field is-grouped">
                    <div class="control">
                        <p type="submit" class="button" id="add-story-to-folder-btn">Save Changes</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>

{% endblock %}