{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}


<div class="container">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="title">{{folder.folder_name}}</div>
        </div>
        <div class="column is-12">
            <p class="is-size-5">{{folder.folder_desc}}</p>
        </div>
        <div class="column is-12">
            {% comment %} edit folder details and delete stories within it {% endcomment %}
            <a href="{% url 'folder_edit' folder.id %}" class="button is-light">Edit</a>
            {% comment %} delete a folder and all its stories within {% endcomment %}
            <a href="{% url 'folder_delete' folder.id %}" class="button is-danger is-outlined">Delete</a>        
        </div>
        {% comment %}display stories one by one (max 4)  {% endcomment %}
    </div>
    <div class="content mt-4">
            <div class="container">
                <div class="columns is-multiline">
                    {% for story in folder.story.all %}
                        {% include 'profiles/single_fic_card_layout.html' %}
                    {% endfor %}
                </div>
            </div>
    </div>
</div>








{% endblock %}