{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}


{% comment %} display form error messages {% endcomment %}
<div class="column is-12">
    {% for message in messages %}
        <p class="help is-danger m-1 is-size-6">{{message}}</p>
    {% endfor %}
</div>
<div class="container" id="form-container">
    <form action="." method="POST" enctype="multipart/form-data" autocomplete="off" class="columns is-multiline" novalidate>
        {% csrf_token %}
        {{form.media}}
        <div class="column is-12">
            <div class="title">Edit Your Profile</div>
        </div>
        {% comment %} Profile edit form {% endcomment %}
        <div class="column is-12">
            <div class="field">
                 <label class="label">Write your bio</label>
                <div class="control">
                    {{ form.bio|safe }}
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <label class="label">Are you an author?</label>
                <div class="control">
                    <div class="select">
                        {{form.is_author}}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button" id="profile-save-settings-btn">Save changes</button>
                    <a href="{% url 'profile' %}" class="button is-danger is-inverted">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}