{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}

<div class="columns is-centered m-6 p-3" id="profile-everything">
    {% comment %} for bio and info about member {% endcomment %}
    <div class="column is-4" id="bio-column">
        <div class="title has-text-centered">{{request.user.nickname}}</div>
        <div class="content has-text-centered">
            <img id="pfp_img" src="{{profile.profile_pic.url}}">   
        </div>
        {% comment %} the tags begin here {% endcomment %}
        <div class="content has-text-centered" id="tags">
            {% for tag in profile.tags.all %}
                <span class="tag is-medium" style="background-color:{{tag.tag_color}};">{{tag.tag_name}}</span>
            {% endfor %}
        </div>
        {% comment %} bio goes here if not None{% endcomment %}
        {% if profile.bio and profile.bio != 'None'%}
            <div class="content has-text-centered">
                {{profile.bio|safe}}
            </div>
        {% else %}
            <div class="content has-text-centered">
                No bio added.
            </div>
        {% endif %}
        {% comment %} profile settings button {% endcomment %}
        <div class="content has-text-centered" >
            <a class="button" id="profile-settings-btn"
            href="{% url 'profile_settings' %}">
                <span class="icon">
                    <i class="fas fa-cog"></i>
                </span>
                <span>Settings</span>
            </a>
        </div>
    </div>
    {% comment %} for Reading List, all folders to be included for the member {% endcomment %}
    <div class="column is-8">
        {% comment %} include contribute and search buttons {% endcomment %}
        <div class="content">
            <a class="button" id="search-btn" href="{% url 'search' %}">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
                <span>Search</span>
            </a>
            <div class="button" id="contribute-story-btn">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Contribute New Story</span>
            </div>
        </div>
        {% comment %} New folder button {% endcomment %}
        <div class="content">
            <a class="button is-fullwidth is-primary is-outlined" 
            id="new-folder-button" 
            href="{% url 'folder_add' %}">
                New Folder...
            </a>
        </div>
        {% comment %} adding folders one by one here {% endcomment %}
        {% for folder in folders %}
            {% include 'profiles/single_folder_layout.html' %}
        {% endfor %}
    </div>
</div>

{% endblock  %}