{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}
{% include 'profiles/scripts.html' %}

<title>{{request.user.nickname}}</title>

<div class="columns is-centered m-1 p-3 is-multiline" id="profile-everything">
    {% comment %} for bio and info about member {% endcomment %}
    <div class="column is-4-desktop is-12-tablet is-12-mobile" id="bio-column">
        <div class="title has-text-centered">{{request.user.nickname}}</div>
        {% comment %} public profile link TODO: fix the public profile page things{% endcomment %} 
        {% comment %} <div class="content has-text-centered">
            <a href="#" onclick="return copyToClipboardFunction();" class="has-text-centered is-centered has-tooltip-bottom has-tooltip-multiline" id="public-profile-link" data-tooltip="Copy link to your public profile">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-link"></i>
                    </span>
                </span>
            </a>
        </div> {% endcomment %}
        {% comment %} bio goes here if not None{% endcomment %}
        {% if profile.bio and profile.bio != 'None'%}
            <div class="content has-text-centered">
                {{profile.bio|safe}}
            </div>
        {% else %}
            <div class="content has-text-centered">
                No bio added.
            </div>
        {% endif %}
        {% comment %} profile settings button {% endcomment %}
        <div class="content has-text-centered" >
            <a class="button" id="profile-settings-btn"
            href="{% url 'profile_settings' %}">
                <span class="icon">
                    <i class="fas fa-cog"></i>
                </span>
                <span>Settings</span>
            </a>
        </div>
    </div>
    {% comment %} for all folders to be included for the member {% endcomment %}
    <div class="column is-8-desktop is-12-tablet is-12-mobile"id="folder-column">
        {% comment %} include contribute and search buttons {% endcomment %}
        <div class="content">
            {% if dashboard_visible %}
                <a class="button" id="search-btn" href="{% url 'author_dashboard' %}">
                    <span class="icon">
                        <i class="fas fa-feather-alt"></i>
                    </span>
                    <span>Author Dashboard</span>
                </a>
            {% endif %}
            <a class="button" id="search-btn" href="{% url 'search' %}">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
                <span>Search</span>
            </a>
            <a class="button" id="contribute-story-btn" href="{% url 'story_contrib' %}">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Contribute New Story</span>
            </a>
            <a class="button" id="all-read-story-list-btn" href="{% url 'library' %}">
                <span class="icon">
                    <i class="fas fa-book"></i>
                </span>
                <span>Stories I've Read</span>
            </a>
        </div>
        {% comment %} New folder button {% endcomment %}
        <div class="content">
            <a class="button is-fullwidth is-primary is-outlined" 
            id="new-folder-button" 
            href="{% url 'folder_add' %}">
                New Folder
            </a>
        </div>
        {% comment %} adding folders one by one here {% endcomment %}
        {% for folder in folders %}
            {% include 'profiles/single_folder_layout.html' %}
        {% endfor %}
    </div>
</div>
{% comment %} public profile link to be copied {% endcomment %}
<span hidden id="link-span">{{link_to_public_page}}</span>
{% endblock  %}