{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}

<div class="container">
    <div class="column is-12">
        <div class="title">Edit Your Profile</div>
    </div>
    {% comment %} display form error messages {% endcomment %}
    <div class="column is-12">
        {% for message in messages %}
            <p class="help is-danger m-1 is-size-6">{{message}}</p>
        {% endfor %}
    </div>
</div>
<div class="container">
    <form action="." method="POST" enctype="multipart/form-data" autocomplete="off" class="columns is-multiline" novalidate>
        {% csrf_token %}
        {% comment %} Profile edit form {% endcomment %}
        <div class="column is-12">
            <div class="field">
                 <label class="label">Write your bio</label>
                <div class="control">
                    {{ form.bio }}
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <label class="label">Are you an author?</label>
                <div class="control">
                    <div class="select">
                        {{form.is_author}}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="is-size-5">New profile picture</div>
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="profile_pic">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose image
                                </span>
                            </span>
                            {% comment %} if default pic present, show no pic selected message {% endcomment %}
                            {% if not 'profiles/default_profile_picture' in request.user.profile.profile_pic.url %}
                                <span class="file-name">
                                    {{request.user.profile.profile_pic}}
                                </span>  
                            {% else %}
                                <span class="file-name">
                                    No picture selected.
                                </span>  
                            {% endif %}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button" id="folder-edit-save-btn">Save changes</button>
                    <a href="{% url 'profile' %}" class="button is-danger is-inverted">Cancel</a>
                </div>
            </div>
        </div>
</div>


<script>
{% comment %} to make sure image selected displays correctly {% endcomment %}
document.addEventListener('DOMContentLoaded', () => {
  // 1. Display file name when select file
  let fileInputs = document.querySelectorAll('.file.has-name')
  for (let fileInput of fileInputs) {
    let input = fileInput.querySelector('.file-input')
    let name = fileInput.querySelector('.file-name')
    input.addEventListener('change', () => {
      let files = input.files
      if (files.length === 0) {
        name.innerText = 'No picture selected.'
      } else {
        name.innerText = files[0].name
      }
    })
  }

  // 2. Remove file name when form reset
  let forms = document.getElementsByTagName('form')
  for (let form of forms) {
    form.addEventListener('reset', () => {
      let names = form.querySelectorAll('.file-name')
      for (let name of names) {
        name.innerText = 'No picture selected.'
      }
    })
  }
})
</script>
{% endblock %}