<div class="box">
    <div class="columns">
        <div class="column is-4">
            <div class="is-size-4 mb-3">My Custom Folder</div>
        </div>
        <div class="column ">
            <div id="see-all-outlined-button" class="button is-dark is-outlined is-pulled-right">See All</div>
        </div>
    </div>
        
        <div class="content">
            <div class="columns">
                {% include 'profiles/single_fic_card_layout.html' %}
                {% include 'profiles/single_fic_card_layout.html' %}
                {% include 'profiles/single_fic_card_layout.html' %}
                {% include 'profiles/single_fic_card_layout.html' %}
            </div>
        </div>
</div>