{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}


<div class="container">
    <div class="columns-is-multiline">
        <div class="column is-12">
            <div class="subtitle">{{story.story_name}}</div>
        </div>
        <div class="column is-12">
            <div class="is-size-5">{{story.author_name}}</div>
        </div>
        <div class="column is-12">
            {% comment %} open story in a new tab {% endcomment %}
            <a href="{{story.link}}" target='_blank' class="button is-light">Go to story</a>
            {% comment %} to delete story from all your folders {% endcomment %}
            <a href="#" class="button is-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}