{% extends 'core/main.html' %}
{% load static %}
{% block content  %}
{% load widget_tweaks %}
{% include 'profiles/styles.html' %}


<div class="container mt-6" id="form-container">
    <form action="." method="POST" autocomplete="off" class="columns is-multiline" novalidate>
        {% csrf_token %}
        <div class="column is-12">
        </div>
        <div class="columb is-12">
            <content class="is-size-3 ml-3">Rate the story: {{storyname}}</content>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <div class="select">
                        {{form.rating}}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button" id="save-rating-story-btn">Rate</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}