<style>
{% comment %} tags styling {% endcomment %}
.tag:not(body){
    color:white;
}
#is-c-lv7-tag{
    background-color:palevioletred;
}
#is-maker-tag{
    background-color:orangered;
}
#is-member-tag{
    background-color:green;
}
#is-author-tag{
    background-color:sandybrown;
}
#is-reader-tag{
    background-color: plum;
}
#is-peoples-choice{
    background-color: purple;
}
#pfp_img {
  border-radius: 50%;
  height: 156px;
  width:156px;
}
#button-is-brown{
    background-color:#C35355;
}

{% comment %} bio column style for all screen types{% endcomment %}
@media screen and (min-width: 1200px) {
    #bio-column{
        height:90vh; position: sticky; top: 3.2rem;
    }
}
@media screen and (max-width: 1199px) and (min-width: 801px){
    #bio-column{
        height:90vh; position: sticky; top: 3.2rem;
    }  
}
@media screen and (max-width: 800px) {
    #bio-column{
        height:90vh;
    }
}

{% comment %} "see all" outlined button hover should be brown{% endcomment %}
#see-all-outlined-button:hover{
    background-color: #C35355;
    border-color:#C35355;
}

{% comment %} "new folder" button link {% endcomment %}
#new-folder-button.button.is-primary.is-outlined{
    color: #C35355;
    border-color:#C35355;
 }
#new-folder-button.button.is-primary.is-outlined:hover{
     background-color:#C35355;
     color:white;
 }
#new-folder-button{
    font-weight:bold;
}

{% comment %} The two buttons at the top {% endcomment %}
#search-btn, #contribute-story-btn{
    background-color:#C35355;
    color:white;
}

</style>