/* for the whole website */
*{
    font-family: 'Antic Slab', serif;

}
html{
    background-color:#efece8;
}
body{
	background: #efece8;
    height: 100vh;
    max-width: 1400px;
}
.is-small.input{
    font-size:1.05rem;
}
